<%- include('header') %>

    <div class="container">
<center>
     <pre><h1>User Dashboard</h1></pre> 
      <h2><%= title %></h2></center>
      <div class="about">
      <h4>Are you worried about forgetting your Passwords. No Worry, Try This Password Management System.<br>
        This Gives You:
    <ul>
        <li>Full Access For all changes.</li>
        <li>Easy and Simplest Process for Adding Passwords.</li>
        <li>Clear view your passwords any time.</li>
        <li>Strict Security so that no one can access it except you</li>
    </ul>
</h4>
</div>
<%- include('footer') %>
